@import "../variables.scss";

.input {
  display: block;
  width: 100%;
  background-color: $foreground;
  padding: 1em;
  border-radius: $border-radius;
  margin-bottom: 1em;
}

.input:focus {
  box-shadow: $outline;
}
