$foreground: lightgray;
$primary: dodgerblue;
$primary-light: rgb(128, 191, 255);
$danger: orangered;
$danger-light: rgb(255, 141, 100);

$border-radius: 5px;
$shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
$outline: 0 0 0 2px $primary;
